# === Базы данных (Самое важное!) ===
# Скрываем локальные файлы БД SQLite, чтобы не забивать репозиторий
*.db
*.db-journal
*.sqlite
*.sqlite3

# === Исполняемые файлы (Компиляция) ===
# Если случайно скомпилируешь проект в файл запуска, Git его проигнорирует
*.exe
*.exe~
*.dll
*.so
*.dylib
build/
bin/

# === Логи и временные файлы ===
# Скрываем отчеты об ошибках и логи сервера
*.log

# === Настройки редакторов кода ===
# Скрываем скрытые папки настроек VS Code, Goland или Блокнота
.vscode/
.idea/
.DS_Store